*password*

__pychache__/

.ipynb/checkpoints

201906_Usage_Bicimad.json

#EDA Project
Eda_Scrapping/data
IMDb names.csv
raw.tsv

#EDA
EDA_FINAL/data
EDA_FINAL/src/utils/settings_sql.json
EDA_FINAL/src/utils/api_token.json

#ML_Scrapping
ML_Scrapping/titles.tsv